<div>
  <h1>{{ localization.main.title }}</h1>
  <div>
    <getter-tester el="{{ complex.el }}"></getter-tester>
    <span>{{ localization.main.initialValue }}: </span>
    <label for="counter-setting"></label>
    <input id="counter-setting" type="number" value="{{ initialValue }}" min="0" max="99">
    <input id="counter-auto-increment" type="checkbox" checked="{{ autoIncrement }}"> <label for="counter-auto-increment">{{ localization.main.autoIncrement }}</label>
  </div>
  <hr>
  <div>
    <numeric-counter title="{{ localization.counter.title }}" value="{{ initialValue }}" auto-increment="{{ autoIncrement }}" onupdate="{{ logUpdate(args, value) }}"/>
  </div>

  <!-- Named slots showcase -->
  <reference-links>
    <p>{{ localization.footer.someLinks }}</p>
    <div slot="left-column">
      <h3>{{ localization.footer.thisProject }}</h3>
      <p><a href="https://www.npmjs.com/package/@halleymedia/unobtrusive-vue" target="_blank">Package on npm</a></p>
      <p><a href="https://github.com/Halleymedia/unobtrusive-vue">GitHub repository</a></p>
    </div>
    <div slot="right-column">
      <h3>{{ localization.footer.suggestedExtensions }}</h3>
      <p><a href="https://marketplace.visualstudio.com/items?itemName=chenxsan.vscode-standardjs" target="_blank">StandardJS</a></p>
      <p><a href="https://marketplace.visualstudio.com/items?itemName=BrightSoul.html-configurable-autocomplete" target="_blank">HTML Configurable Autocomplete</a></p>
    </div>
  </reference-links>
</div>