<div>
  <h1>Unobstrusive Vue counter demo</h1>
  <div>
    <span>Initial value: </span>
    <label for="counter-setting"></label>
    <input id="counter-setting" type="number" value="{{initialValue}}" min="0" max="99">
    <input id="counter-auto-increment" type="checkbox" checked="{{autoIncrement}}"> <label for="counter-auto-increment">Autoincrement once a second</label>
  </div>
  <hr>
  <numeric-counter title="Here's the counter!" value="{{initialValue}}" auto-increment="{{autoIncrement}}" onupdate="{{ logUpdate(value) }}"></numeric-counter>
</div>